.contato {
    background-color: #EAF2FD;
}

.formcontato__input {
    background: #ffffff;
    border-radius: 4px;
    height: 52px;
    padding-left: 12px;
    border-bottom: 1px solid #C8C8C8;
}

.formcontato__input:focus {
    border-bottom: 1px solid #2A7AE4;
}

.form__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
}

.form {
    display: flex;
    flex-direction: column;
}

.formcontato__textarea {
    background: #ffffff;
    border-radius: 4px;
    padding-left: 12px;
    padding-top: 12px;    
}

.contato__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.form__botao,
.formcontato__textarea,
.formcontato__input {
    margin-top: 24px;
}

.form__container--legenda {
    font-weight: 500;
}

.form__container--titulo {
    font-size: 32px;
    font-weight: 700;
}

.form__botao {
    border: 1px solid #2A7AE4;
    background-color: #2A7AE4;
    padding: 12px;
    color: #ffffff;
    font-weight: 400;
    width: 30%;
    text-align: center;
}