.skills__titulo {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    margin-top: 12px;
    margin-bottom: 24px;
}

.skills__component--container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.skill__component {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;      
    width: 176px;
    height: 174px; 
    
}

.skill__component--text {
    font-weight: 700;
    margin-top: 8px;
    top: 0%;
}

.skill__component--img,
.skill__component--text {
    margin-left: 16px;
    
}

.skill__component--img {
    margin-top: 112px;
}