@import url('header.css');
@import url('reset.css');
@import url('banner.css');
@import url('sobre.css');
@import url('skills.css');
@import url('hobbies.css');
@import url('formacao.css');
@import url('xp.css');
@import url('contato.css');
@import url('footer.css');

:root{
    font-family: 'Raleway';
    color:  #464646;
    background-color: #F5F5F5;
}

.container{
    padding: 24px 172px;        
}